<!-- /snippets/product-title.liquid -->

{%- if block.settings.text_size -%}
  {% assign heading_size_class = block.settings.text_size | prepend: 'heading-size-' %}
{%- endif -%}

<div class="product__block__title" style="--PB: {{ block.settings.padding_bottom }}px;" {{ block.shopify_attributes }}>
  <div class="product__headline">
    <div class="product__title__wrapper">
      <h1 class="product__title {{ heading_size_class }} heading">
        {% if template contains 'product' and block %}
          {{ product.title }}
        {% else %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {% endif %}
      </h1>

      {%- if block.settings.show_rating and product.metafields.reviews.rating.value != blank -%}
        <div class="rating__wrapper__title">
          {% render 'product-rating', product: product, show_rating_count: block.settings.show_rating_count %}
        </div>
      {%- endif -%}
      <button
        class="swym-button swym-add-to-wishlist"
        data-with-epi="true"
        data-swaction="addToWishlist"
        data-product-id="{{ product.id }}"
        data-variant-id="{{ product.variants[0].id }}"
        data-product-url="{{ shop.url }}{{ product.url }}"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"  id="swym-atw-pdp-button-icon" class="atw-button-icon" fill="none">
          <path d="M19.6706 5.4736C17.6806 3.8336 14.7206 4.1236 12.8906 5.9536L12.0006 6.8436L11.1106 5.9536C9.29063 4.1336 6.32064 3.8336 4.33064 5.4736C2.05064 7.3536 1.93063 10.7436 3.97063 12.7836L11.6406 20.4536C11.8406 20.6536 12.1506 20.6536 12.3506 20.4536L20.0206 12.7836C22.0706 10.7436 21.9506 7.3636 19.6706 5.4736Z"
            stroke="#202020"
            stroke-width="1.7"
            stroke-linecap="round"
            stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    {%- if product.metafields.theme.cutline != blank
      and product.metafields.theme.cutline.type == 'single_line_text_field'
      and block.settings.product_show_cutline
    -%}
      <p class="product__page__cutline">{{ product.metafields.theme.cutline.value }}</p>
    {%- endif -%}
  </div>
</div>
