{% for block in section.blocks %}
   {% if block.type == 'slide' %}
     <div
       class="collection-split__block{% if section.settings.sticky_image_enable %} collection-split__block--sticky{% endif %} {{ block.settings.text_color }}"
       {{ block.shopify_attributes }}
     >
       {%- if block.settings.link_text == blank and block.settings.link != blank -%}
         <a
           href="{{ block.settings.link }}"
           class="link-over-image"
           aria-label="{{ block.settings.heading | default: block.settings.kicker }}"
         >
       {%- endif -%}
       <div class="hero__content__wrapper align--bottom-center">
         <div class="box">
           {%- if block.settings.kicker != blank -%}
             <p
               class="hero__kicker"
               data-aos="hero"
               data-aos-anchor="{{ animation_anchor }}"
               data-aos-order="1"
             >
               {{ block.settings.kicker }}
             </p>
           {%- endif -%}

           {%- if block.settings.heading != blank -%}
             <h2
               class="hero__title"
               data-aos="hero"
               data-aos-anchor="{{ animation_anchor }}"
               data-aos-order="2"
             >
               {{ block.settings.heading }}
             </h2>
           {%- endif -%}
           {%- if block.settings.sub_text != blank -%}
             <p
               data-aos="hero"
               data-aos-anchor="{{ animation_anchor }}"
               class="sub_text"
             >
               {{ block.settings.sub_text }}
             </p>
           {% endif %}
           {%- if block.settings.link_text != blank and block.settings.link != blank -%}
             <a
               class="hero__btn {{ block.settings.button_style }} {{ block.settings.button_color }}"
               href="{{ block.settings.link }}"
               data-aos="hero"
               data-aos-anchor="{{ animation_anchor }}"
               data-aos-order="3"
             >
               {{ block.settings.link_text | escape }}
             </a>
           {%- endif -%}
         </div>
       </div>

       {%- if block.settings.link_text == blank and block.settings.link != blank -%}
         </a>
       {%- endif -%}

       <div
         class="image-overlay"
         style="--bg: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity | times: 0.01 }};"
       ></div>

       {%- if section.settings.video_bg != null -%}
         <div class="video-autoplay-wrapper">
           {%- assign video_styles = section.settings.object_position
             | replace: '-', ' '
             | prepend: 'object-position: '
           -%}
           {{
             section.settings.video_bg
             | video_tag:
               autoplay: true,
               loop: true,
               muted: true,
               controls: false,
               playsinline: true,
               style: video_styles,
               data-video-autoplay: ''
           }}
         </div>
       {%- else -%}
         {% assign alt = block.settings.image.alt | default: 'Collection Image' %}
         {% render 'image-parallax',
           img_object: block.settings.image,
           img_object_mobile: block.settings.mobile_image,
           frame_height_class: 'none'
         %}
       {% endif %}
     </div>
   {% endif %}
 {% endfor %}