<!-- Swym Wishlist Plus EPI Button with default first variant -->
<button
  aria-label="Add to Wishlist"
  data-with-epi="true"
  class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
  data-swaction="addToWishlist"
  data-product-id="{{ product.id | json}}"
  data-variant-id="{{product.variants[0].id}}"
  data-product-url="{{ shop.url }}{{ product.url }}"
></button>
<!-- Swym Wishlist Plus EPI Button -->
