{% assign animation_anchor = "[data-section-id='" | append: section.id | append: "']" %}
<section class="about-us-header-section" data-section-id="{{ section.id }}">
  <div class="about-us-header-section__main aos-init aos-animate">
    <div class="about-us-header-section__text">
      <p class="about-us-header-section__paragraph">{{ section.settings.paragraph }}</p>
      <h2 class="about-us-header-section__heading">{{ section.settings.heading }}</h2>
    </div>
    <div class="about-us-header-section__images">
      {% if section.settings.image_1 != blank %}
        <img
          src="{{ section.settings.image_1 | img_url: 'master' }}"
          alt="Image 1"
          class="image-1"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="1"
        >
      {% endif %}
      {% if section.settings.image_2 != blank %}
        <img
          src="{{ section.settings.image_2 | img_url: 'master' }}"
          alt="Image 2"
          id="Image-2"
          class="image-2"
          width="90%"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="2"
        >
      {% endif %}
      {% if section.settings.image_3 != blank %}
        <img
          src="{{ section.settings.image_3 | img_url: 'master' }}"
          alt="Image 3"
          class="image-3"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="3"
        >
      {% endif %}
    </div>
  </div>
</section>

<style>
  #Image-2 {
     @media only screen and (max-width: 768px) {
     width: auto;
    }
  }
  .about-us-header-section__main {
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 100px;
    @media only screen and (max-width: 768px) {
      padding: 40px 20px 60px 20px;
    }
  }
  h2.about-us-header-section__heading {
    color: #000000;
    text-align: center;
    font-family: Gambarino;
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.28px;
    @media only screen and (max-width: 768px) {
      font-size: 40px;
    }
  }
  p.about-us-header-section__paragraph {
    background: #000000;
    padding: 10px 20px;
    gap: 4px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: 'EngraversGothic';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .about-us-header-section__images {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;

    grid-gap: 20px;
  }
  @media only screen and (max-width: 768px) {
    .about-us-header-section__images {
      grid-template-columns: 1fr 1fr !important;
    }
    .about-us-header-section__main .image-3 {
      grid-column-start: span 2;
    }
  }
</style>
{% schema %}
{
  "name": "About Us Header",
  "settings": [
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Second Image"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Third Image"
    }
  ],
  "presets": [
    {
      "name": "About Us Header",
      "settings": {
        "heading": "About Us",
        "paragraph": "What bra? We designed our classic racerback so you won’t feel anything but your practice."
      }
    }
  ]
}
{% endschema %}
