{% liquid
  assign button_link = section.settings.button_url
  assign button_text = section.settings.button_label
  assign button_size = section.settings.button_size
  assign button_style = section.settings.button_style
  assign button_color = section.settings.button_color
%}
<section class="banner-with-text-overlay">
  <div class="banner-with-text-overlay__inner">
    <picture>
      <source srcset="{{ section.settings.image_desktop | image_url: width: 1600 }}" media="(min-width: 1000px)">
      <source srcset="{{ section.settings.image_mobile | image_url: width: 800 }}" media="(min-width: 320px)">
      <img
        src="{{ section.settings.image_desktop | image_url: width: 1600 }}"
        alt="{{ section.settings.title }}"
        class="banner-with-text-overlay__image"
        width="{{ section.settings.image_desktop.width }}"
        height="{{ section.settings.image_desktop.height }}"
      >
    </picture>
    <div class="banner-with-text-overlay__content">
      <h2 class="banner-with-text-overlay__title heading heading-size-10">{{ section.settings.title }}</h2>
      <p class="banner-with-text-overlay__subtitle body body-size-6 mb-r8">{{ section.settings.subtitle }}</p>
      <a
        href="{{ button_link }}"
        class="{{ button_style }} {{ button_size }} {{ button_color }}"
      >
        {{- button_text -}}
      </a>
    </div>
  </div>
</section>
<style>
  .banner-with-text-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .banner-with-text-overlay__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner-with-text-overlay__content {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    margin: 0 auto;
    width: calc(100vw - 550px);
    padding: 32px;
    @media screen and (max-width: 768px) {
      width: calc(100vw - 60px);
    }
  }
  .banner-with-text-overlay__title {
    color: #ffffff;
    text-align: center;
  }
  .banner-with-text-overlay__subtitle {
    color: #ffffff;
    max-width: 600px;
    @media screen and (max-width: 768px) {
      max-width: 400px;
      padding: 0 20px;
    }
  }
  .banner-with-text-overlay__button {
    width: max-content;
  }
</style>
{% schema %}
{
  "name": "Banner with Text Overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
      "info": "setting this will override the video button"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Size",
      "default": "btn--long",
      "options": [
        { "value": "btn--small", "label": "Small button" },
        { "value": "btn--medium", "label": "Medium button" },
        { "value": "btn--large", "label": "Large button" },
        { "value": "btn--long", "label": "Long button" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "btn",
      "options": [
        { "value": "btn-text-thick-line", "label": "Capitalized text" },
        { "value": "btn", "label": "Solid button" },
        { "value": "btn--soft", "label": "Soft button" },
        { "value": "btn--outline", "label": "Outlined button" }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    },
  ],
  "presets": [
    {
      "name": "Banner with Text Overlay"
    }
  ]
}
{% endschema %}
