{% assign animation_anchor = "[data-section-id='" | append: section.id | append: "']" %}
{%- assign title_font_size_class = section.settings.title_text_size | prepend: 'heading-size-' -%}
{%- assign content_font_size_class = section.settings.content_text_size | prepend: 'body-size-' -%}
{% assign btn_size = section.settings.button_size %}
{% assign btn_style = section.settings.button_style %}
{% assign btn_color = section.settings.button_color %}
<section
  class="card-cascade-section {{ section.settings.width }} {{ section.settings.text_alignment }} shopify-section section-padding"
  id="card-cascade-section-{{ section.id }}"
>
  <div class="card-cascade__container">
    <div class="mb-r6 {{ section.settings.text_alignment }}" style="color: {{ section.settings.text_color }};">
      {% if section.settings.title %}
        <h1 class="heading mb-r6 {{ title_font_size_class }}" style="color: {{ section.settings.title_color }};">
          {{ section.settings.title }}
        </h1>
      {% endif %}
      {% if section.settings.content %}
        <p class="{{ content_font_size_class }} mb-r8" style="color: {{ section.settings.content_color }};">
          {{ section.settings.content }}
        </p>
      {% endif %}
    </div>
    <div class="card-cascade__cards-swiper-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div
            class="card-cascade__card swiper-slide"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="{{ forloop.index }}"
            {{ block.shopify_attributes }}
          >
            <div class="card-carscade__card-inner">
              <img
                class="card-cascade__card-image"
                src="{{ block.settings.image | img_url: 'master' }}"
                alt="{{ block.settings.title }}"
                width="400"
                height="400"
              >
              <div class="card-cascade__card-content card-cascade__card-content-{{ section.id }} {{ block.settings.text_alignment }}">
                <h5
                  class="card-cascade__card-title heading-size-6 mb-r4"
                  style="color: {{ section.settings.text_color }};"
                >
                  {{ block.settings.title }}
                </h5>
                <div class="card-cascade__card-text mb-r6" style="color: {{ section.settings.text_color }};">
                  {{ block.settings.content }}
                </div>
                <a
                  href="{{ block.settings.button_link }}"
                  class="standard__cta hero__btn {{ btn_style }} {{ btn_color }} {{ btn_size }}"
                >
                  {{ block.settings.button_text }}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
<style>
  .card-cascade__container {
    overflow: hidden;
    padding: 30px 0;
  }
  .card-cascade__content {
    margin-bottom: 28px;

  }
  h1.card-cascade__title {
    color: #e6dbc4;
    font-size: 132px;
    font-weight: 400;
    line-height: 70%;
    font-family: var(--font-family-exmouth) !important;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-bottom: 28px;
    @media screen and (max-width: 768px) {
      font-size: 72px;
    }
  }
  .card-carscade__card-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: flex-end;
  }
  .card-cascade__card-image {
    aspect-ratio: 0.8;
    width: 100%;
    object-fit: cover;
  }
  .card-cascade__card-content-{{ section.id }} {
    {% if section.settings.show_border %}
      border: 3px solid {{ section.settings.text_color }};
      padding: 20px;
    {% endif %}
    {% if section.settings.overlap_over_image %}
      z-index: 1;
      position: absolute;
      width: calc(100% - var(--gutter) * 2);
      margin-bottom: var(--gutter);
      background: rgba(0, 0, 0, 0.30);
    {% endif %}
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (Swiper) {
      initSwiper();
    } else {
      console.log('Swiper not loaded');
      const swiperInterval = setInterval(function () {
        if (Swiper) {
          clearInterval(swiperInterval);
          initSwiper();
        }
      }, 100);
    }
    function initSwiper() {
      const cardsSwiper = new Swiper('.card-cascade__cards-swiper-{{ section.id }}', {
        slidesPerView: 1.2,
        spaceBetween: 20,
        freeMode: true,
        breakpoints: {
          1024: {
            slidesPerView: 3,
          },
          768: {
            slidesPerView: 2,
          },
          480: {
            slidesPerView: 1.2,
          },
        },
        scrollbar: {
          el: '.swiper-scrollbar',
          hide: true,
        },
      });
    }
  });
</script>
{% schema %}
{
  "name": "Cards Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "content_text_size",
      "label": "Content text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-right",
          "label": "Right"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show Border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "overlap_over_image",
      "label": "Overlap over image",
      "default": true
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Size",
      "default": "btn--long",
      "options": [
        { "value": "btn--small", "label": "Small button" },
        { "value": "btn--medium", "label": "Medium button" },
        { "value": "btn--large", "label": "Large button" },
        { "value": "btn--long", "label": "Long button" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "btn",
      "options": [
        { "value": "btn-text-thick-line", "label": "Capitalized text" },
        { "value": "btn", "label": "Solid button" },
        { "value": "btn--soft", "label": "Soft button" },
        { "value": "btn--outline", "label": "Outlined button" }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection_card",
      "name": "Collection Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            },
            {
              "value": "text-center",
              "label": "Center"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards Grid"
    }
  ]
}
{% endschema %}
