<div
  class="section-collections-pills {{ section.settings.width }} section-padding"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;"
>
  <h2
    class="heading heading-size-{{ section.settings.title_text_size }}"
    style="color: {{ section.settings.title_text_color }};"
  >
    {{ section.settings.header_text }}
  </h2>
  <p
    class="body body-size-{{ section.settings.sub_text_size }} mb-r8"
    style="color: {{ section.settings.sub_text_color }};"
  >
    {{ section.settings.subtitle }}
  </p>
  <div class="section-collections-pills_content mb-r11">
    {% for block in section.blocks %}
      {% assign block_collection = block.settings.collection %}
      {% assign block_collection_url = block_collection.url %}
      {% if collection.url == block_collection_url %}
        {% assign is_current = true %}
      {% else %}
        {% assign is_current = false %}
      {% endif %}
      <div
        class="section-collections-pills_pill {% if is_current == true %}section-collections-pills_pill--current{% endif %}"
        {{ block.shopify_attributes }}
      >
        <a href="{{ block_collection_url }}" class="section-collections-pills_pill_link">
          {% if block.settings.pill_image %}
            <img
              src="{{ block.settings.pill_image | image_url: width: 100 }}"
              alt="{{ block.settings.pill_text }}"
              width="100"
              height="100"
              loading="lazy"
              class="collection-pills-image"
            >
          {% endif %}
          <span>
            {{- block.settings.pill_text -}}
          </span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<style>
  .section-collections-pills_content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid #f0ede6;
    padding-bottom: 24px;
  }
  .collection-pills-image {
    aspect-ratio: 2/3;
    width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .section-collections-pills_pill {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
  }
  .section-collections-pills_pill_link {
    text-transform: uppercase;
  }
</style>
{% schema %}
{
  "name": "Collection Pills",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "header_text",
      "label": "Title",
      "default": "Curated Collections"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "title_text_color",
      "label": "Title text color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcarfted by our expert designers"
    },
    {
      "type": "range",
      "id": "sub_text_size",
      "label": "Subtext size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5
    },
    {
      "type": "color",
      "id": "sub_text_color",
      "label": "Subtext color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "collection_pill",
      "name": "Collection Pill",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "pill_text",
          "label": "Pill Text"
        },
        {
          "type": "url",
          "id": "pill_link",
          "label": "Pill Link",
          "info": "Setting this will override the collection link"
        },
        {
          "type": "image_picker",
          "id": "pill_image",
          "label": "Pill Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Pills"
    }
  ]
}
{% endschema %}
