{% liquid
  assign title_font_size_class = section.settings.title_text_size | prepend: 'heading-size-'
  assign sub_text_size = section.settings.subtitle_text_size | prepend: 'body-size-'
%}
<div class="cards-section">
  <div
    class="cards-section__inner {{ section.settings.width }}"
    style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
  >
    {% if section.settings.title != blank %}
      <div class="cards-section__title">
        <h1 class="heading {{ title_font_size_class }}">
          {{ section.settings.title }}
        </h1>
      </div>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="cards-section__subtitle">
        <p class="body {{ sub_text_size }}">
          {{ section.settings.subtitle }}
        </p>
      </div>
    {% endif %}
    <div class="cards-section__cards">
      {% for block in section.blocks %}
        <div
          class="block-card {{ section.settings.text_alignment }}"
          {{ block.shopify_attributes }}
        >
          <div class="block-card__image">
            {% if block.settings.image %}
              <picture>
                <source srcset="{{ block.settings.image | img_url: '300x' }}" media="(max-width: 600px)">
                <img
                  src="{{ block.settings.image | img_url: '600X' }}"
                  alt="{{  block.settings.image.alt }}"
                  height="{{ block.settings.image.height }}"
                  width="{{ block.settings.image.width }}"
                >
              </picture>
            {% endif %}
          </div>
          <div class="block-card__content">
            <p class="block-card__title font-heading">
              {{ block.settings.title }}
            </p>
            <p class="block-card__subtitle">
              {{ block.settings.subtitle }}
            </p>
            <a
              href="{{ block.settings.button_link }}"
              class="btn {{ section.settings.button_style }} {{ section.settings.button_color }} {{ section.settings.button_size }}"
            >
              {{- block.settings.button_label -}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  .cards-section {
    background-color: white;
    color: #000000;
  }

  .cards-section__cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
  }
  .block-card {
    width: calc(25% - 20px);
    border: 1px solid #000000;
    display: flex;
    gap: var(--gutter);
    padding: var(--gutter);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    @media only screen and (max-width: 1024px) {
      flex-basis: calc(50% - 20px);
    }
    @media only screen and (max-width: 768px) {
      flex-basis: 100%;
    }
  }
  .block-card__image,
  .block-card__image img {
    width: 100%;
  }
  .block-card__title {
    color: #000000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
  }
  .block-card__subtitle {
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .block-card__content {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
  }
</style>

{% schema %}
{
  "name": "Card Column",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "range",
      "id": "subtitle_text_size",
      "label": "Subtitle text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#006A50"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "default": "wrapper--none",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Size",
      "default": "btn--long",
      "options": [
        { "value": "btn--small", "label": "Small button" },
        { "value": "btn--medium", "label": "Medium button" },
        { "value": "btn--large", "label": "Large button" },
        { "value": "btn--long", "label": "Long button" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "btn",
      "options": [
        { "value": "btn-text-thick-line", "label": "Capitalized text" },
        { "value": "btn", "label": "Solid button" },
        { "value": "btn--soft", "label": "Soft button" },
        { "value": "btn--outline", "label": "Outlined button" }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_card_border",
      "label": "Show Card Border",
      "default": true
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Card Text Alignment",
      "default": "text-left",
      "options": [
        { "value": "text-left", "label": "Left" },
        { "value": "text-center", "label": "Center" },
        { "value": "text-right", "label": "Right" }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Card",
      "type": "card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card Iamge"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Default Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Default Subtitle"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Explore"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card Column"
    }
  ]
}
{% endschema %}
