{%- assign title_font_size_class = section.settings.title_text_size | prepend: 'heading-size-' -%}
{%- assign sub_text_size = section.settings.subtitle_text_size | prepend: 'body-size-' -%}
<div
  class="column-product-collection-section"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="column-product-collection-section__inner {{ section.settings.width }}">
    {% if section.settings.title != blank %}
      <h1
        class="column-product-collection-section__title heading {{ title_font_size_class }} text-center"
      >
        {{ section.settings.title }}
      </h1>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <p
        class="column-product-collection-section__subtitle {{ sub_text_size }} text-center mb-r8"
      >
        {{ section.settings.subtitle }}
      </p>
    {% endif %}
    {% if section.settings.collection != blank %}
      {% assign collection = collections[section.settings.collection] %}
      {% if collection != blank %}
        <div class="column-product-collection-section__collection swiper">
          <div class="column-product-collection-section__collection__inner collection-grid-swiper">
            <div class="swiper-wrapper">
              {% for product in section.settings.collection.products limit: 4 %}
                <div class="swiper-slide">
                  {% render 'product-grid-item', product: product %}
                </div>
              {% endfor %}
            </div>
            <div class="swiper-scrollbar column-product-collection-section__collection__scrollbar"></div>
          </div>
          {% if section.settings.show_more_button == true %}
            <div class="column-product-collection-section__collection__show-more text-center">
              <a href="{{ section.settings.button_link }}" class="btn btn--large show-more-button">
                {{- section.settings.button_label -}}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const collectionSwiper = new Swiper('.collection-grid-swiper', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 20,
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });
  });
</script>
<style>
  .column-product-collection-section {
    @media only screen and (max-width: 768px) {
      padding-block: 68px 0;
    }
  }
  .column-product-collection-section__collection__inner .swiper-wrapepr {
    width: 100%;
    justify-content: space-between;
  }
  .column-product-collection-section__title {
    color: #000000;
    letter-spacing: -2.28px;
  }
  .column-product-collection-section__subtitle {
    color: #000000;
    font-weight: 100;
  }
  .column-product-collection-section__collection__inner {
    padding-block-end: 52px;
  }
  .collection-grid-swiper .swiper-slide {
    width: calc(25% - 20px) !important;
    @media only screen and (max-width: 550px) {
      width: 100% !important;
    }
  }
  .column-product-collection-section__collection__show-more {
    width: 100%;
    @media only screen and (max-width: 768px) {
      padding-block: 20px;
    }
  }
  .column-product-collection-section__collection__show-more .show-more-button {
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
  }
  .column-product-collection-section__collection__show-more .show-more-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
  .column-product-collection-section__collection__scrollbar{
    position: relative;
  }
</style>

{% schema %}
{
  "name": "Column Product Collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best sellers",
      "info": "Overrides the default collection title"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcrafted by our expert designers."
    },
    {
      "type": "range",
      "id": "subtitle_text_size",
      "label": "Subtitle text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_more_button",
      "label": "Display Show more button",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Show more"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "default": "wrapper--none",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Column Product Collection",
      "settings": {
        "title": "Best sellers",
        "subtitle": "Handcrafted by our expert designers.",
        "collection": "best-sellers",
        "show_more_button": false
      }
    }
  ]
}
{% endschema %}
