{%- assign title_font_size_class = section.settings.title_text_size | prepend: 'heading-size-' -%}
{%- assign subtitle_font_size_class = section.settings.subtitle_text_size | prepend: 'body-size-' -%}
<div class="customer-reviews-section {{ section.settings.width }}">
  <h2 class="heading {{ title_font_size_class }}" style="color: {{ section.settings.title_color }};">
    {{ section.settings.main_title }}
  </h2>
  <p class="mb-r6 {{ subtitle_font_size_class }}" style="color: {{ section.settings.subtitle_color }};">
    {{ section.settings.subtitle }}
  </p>
  <div class="reviews-slider">
    <div class="reviews-container-{{ section.id }} reviews-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide review-card" {{ block.shopify_attributes }}>
            <p class="body-size-6">{{ block.settings.review_text }}</p>
            <div class="reviewer-info">
              <img src="{{ block.settings.reviewer_image | img_url }}" alt="Reviewer Image" class="reviewer-image">
              <div>
                <p class="body-size-6 font-body mb-r2">{{ block.settings.reviewer_name }}</p>
                <p class="body-size-4">{{ block.settings.reviewer_role }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button id="leftArrow" class="slider-arrow left-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 45 46" fill="none">
          <path d="M44.6353 23.2212L5.38997 23.2212" stroke="black" stroke-width="6"/>
          <path d="M25 3L5 23L25 43" stroke="black" stroke-width="6"/>
        </svg>
      </button>
      <button id="rightArrow" class="slider-arrow right-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 45 46" fill="none">
          <path d="M0.36499 22.7788L39.6103 22.7788" stroke="black" stroke-width="6"/>
          <path d="M20 43L40 23L20 3" stroke="black" stroke-width="6"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<style>
  .customer-reviews-section {
    text-align: center;
  }
  .reviews-container {
    position: relative;
    overflow: hidden;
  }
  .reviews-title {
    font-weight: 100;
    color: #12224f;
  }

  .reviews-subtitle {
    color: #12224f;
  }

  .review-card {
    padding: 31px;
    border: 1px solid #000000;
    text-align: left;
    max-width: 50%;
    margin-right: 24px;
  }

  .reviewer-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .reviewer-image {
    width: 60px;
    margin-right: 10px;
    aspect-ratio: 0.8;
    object-fit: cover;
  }

  .reviewer-role {
    font-family: var(--FONT-STACK-BODY);
    font-size: 14px;
    color: #660000;
  }

  .slider-arrow {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    height: 36px;
    width: 36px;
  }
  .left-arrow {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const reviewsContainer = document.querySelector('.reviews-container-{{ section.id }}');
    const swiper = new Swiper(reviewsContainer, {
      slidesPerView: 2,
      spaceBetween: 24,
      freeMode: true,
      breakpoints: {
        1024: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 2,
        },
        480: {
          slidesPerView: 1,
        },
      },

      navigation: {
        nextEl: '.right-arrow',
        prevEl: '.left-arrow',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Customer Reviews Section",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Why Our Customers Love Galtsand"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcrafted by our expert designers."
    },
    {
      "type": "range",
      "id": "subtitle_text_size",
      "label": "Subtitle text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-right",
          "label": "Right"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Customer Review",
      "settings": [
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Orci ac egestas tellus sed sit. Metus eget nisi egestas sapien sit mattis nunc."
        },
        {
          "type": "image_picker",
          "id": "reviewer_image",
          "label": "Reviewer Image"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "Reviewer Name",
          "default": "Name Surname"
        },
        {
          "type": "text",
          "id": "reviewer_role",
          "label": "Reviewer Role",
          "default": "Athlete"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
