<div
  class="icon-values-section-container {{ section.settings.width }} section-padding"
  data-section-id="{{ section.id }}"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="icon-values-section">
    <div class="icon-value">
      <img src="{{ section.settings.icon_1 | img_url: 'master' }}" alt="Icon 1" class="icon mb-r6">
      <h2 class="heading-size-8 mb-r2">{{ section.settings.title_1 }}</h2>
      <p class="body-size-6">{{ section.settings.text_1 }}</p>
    </div>

    <div class="icon-value">
      <img src="{{ section.settings.icon_2 | img_url: 'master' }}" alt="Icon 2" class="icon mb-r6">
      <h2 class="heading-size-8 mb-r2">{{ section.settings.title_2 }}</h2>
      <p class="body-size-6">{{ section.settings.text_2 }}</p>
    </div>

    <div class="icon-value">
      <img src="{{ section.settings.icon_3 | img_url: 'master' }}" alt="Icon 3" class="icon mb-r6">
      <h2 class="heading-size-8 mb-r2">{{ section.settings.title_3 }}</h2>
      <p class="body-size-6">{{ section.settings.text_3 }}</p>
    </div>
  </div>
</div>

<style>
  .icon-values-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gutter);
    align-items: left;
    justify-content: center;
    text-align: left;
    padding-block: 30px;
  }

  .icon-value {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    border: 1px solid #000;
    padding: var(--gutter);
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  @media (min-width: 768px) and (max-width: 1100px) {
    .icon-value h2 {
      margin: 0px;
    }
  }

  @media (max-width: 768px) {
    .icon-values-section {
      grid-template-columns: 1fr;
      gap: var(--gutter);
    }
  }
</style>

{% schema %}
{
  "name": "Icon Values Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "First Icon"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "First Title",
      "default": "Sustainably Made"
    },
    {
      "type": "textarea",
      "id": "text_1",
      "label": "First Text",
      "default": "Orci ac egestas tellus sed sit. Metus eget nisi egestas sapien sit mattis nunc."
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Second Icon"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Second Title",
      "default": "American Craftsmanship"
    },
    {
      "type": "textarea",
      "id": "text_2",
      "label": "Second Text",
      "default": "Orci ac egestas tellus sed sit. Metus eget nisi egestas sapien sit mattis nunc."
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Third Icon"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Third Title",
      "default": "Athletic Heritage"
    },
    {
      "type": "textarea",
      "id": "text_3",
      "label": "Third Text",
      "default": "Orci ac egestas tellus sed sit. Metus eget nisi egestas sapien sit mattis nunc."
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Icon Values Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
