{% assign image_position = section.settings.image_position %}
{% assign animation_anchor = "[data-section-id='" | append: section.id | append: "']" %}
{% capture image_markup %}
   <div class="image-with-text-section__image-container">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="{{ section.settings.image | img_url: '600X' }} 1x, {{ section.settings.image | img_url: '1000X' }} 1x"
        >
        <img
          src="{{ section.settings.image | img_url: '800X' }}"
          alt="Image"
          class="image-with-text-section__image"
          height="auto"
          width="100%"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="1"
          data-aos-delay="3000"
        >
      </picture>
    </div>
{% endcapture %}
<div
  class="image-with-text-section {{ section.settings.width }}"
  data-section-id="{{ section.id }}"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; background-color: {{ section.settings.background_color }};"
>
  <div class="image-with-text-section__main-{{ section.id }} {{ section.settings.image_position }}">
    {% if image_position == 'left' %}
      {{ image_markup }}
    {% endif %}
    <div class="image-with-text-section__text-container">
      <div class="image-with-text-section__blocks">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'button' %}
              {% assign btn_style = block.settings.button_style %}
              {% assign btn_color = block.settings.button_color %}
              {% assign btn_size = block.settings.button_size %}
              {% assign btn_link = block.settings.link %}
              {% assign btn_text = block.settings.link_text %}
              <a
                class="standard__cta hero__btn {{ btn_style }} {{ btn_color }} {{ btn_size }}"
                href="{{ btn_link | default: '#' }}"
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ forloop.index }}"
              >
                {{ btn_text | escape }}
              </a>
            {% when 'text' %}
              <p
                class="body-size-{{ block.settings.text_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </p>
            {% when 'heading' %}
              <h2
                class="image-with-text-block-title"
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="2"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </h2>
            {% when 'image_pair' %}
              <div
                class="block-image-pair"

                {{ block.shopify_attributes }}
              >
                <picture>
                  <source
                    media="(min-width: 375px)"
                    srcset="{{ block.settings.image_1 | img_url: '700X' }} 1x"
                  >
                  <img
                    src="{{ block.settings.image_1 | img_url: '800X' }}"
                    alt="Image"
                    class="image-with-text-block-image"
                    height="{{ block.settings.image_1.height }}"
                    width="100%"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="3"
                  >
                </picture>
                <picture>
                  <source
                    media="(min-width: 375px)"
                    srcset="{{ block.settings.image_2 | img_url: '700X' }} 1x"
                  >
                  <img
                    src="{{ block.settings.image_2 | img_url: '800X' }}"
                    alt="Image"
                    class="image-with-text-block-image"
                    height="{{ block.settings.image_2.height }}"
                    width="100%"
                    data-aos="hero"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-order="4"
                  >
                </picture>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    {% if image_position == 'right' %}
      {{ image_markup }}
    {% endif %}
  </div>
</div>
<style>
  .image-with-text-section__main-{{ section.id }} {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      padding-top: 0;
    }
  }
</style>

{% schema %}
{
  "name": "Image With Text Custom",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "default": "wrapper--none",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#ffffff",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text Content",
          "default": "Default Text Content"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 8
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text Content",
          "default": "Default Text Content"
        },

        {
          "type": "select",
          "id": "text_align",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "image_pair",
      "name": "Image Pair",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text",
          "default": "View products"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Size",
          "default": "btn--long",
          "options": [
            { "value": "btn--small", "label": "Small button" },
            { "value": "btn--medium", "label": "Medium button" },
            { "value": "btn--large", "label": "Large button" },
            { "value": "btn--long", "label": "Long button" }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn",
          "options": [
            { "value": "btn-text-thick-line", "label": "Capitalized text" },
            { "value": "btn", "label": "Solid button" },
            { "value": "btn--soft", "label": "Soft button" },
            { "value": "btn--outline", "label": "Outlined button" }
          ]
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Color",
          "default": "btn--white",
          "options": [
            { "value": "btn--primary", "label": "Bright accent" },
            { "value": "btn--secondary", "label": "Secondary accent" },
            { "value": "btn--neutral", "label": "Text color" },
            { "value": "btn--black", "label": "Black" },
            { "value": "btn--white", "label": "White" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text Custom",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "Default Text Content"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Default Heading Content"
          }
        }
      ]
    }
  ]
}
{% endschema %}
