<div class="materials-section">
  <div class="materials-section-title">
   <h1 class="heading h1 text-center">{{ section.settings.materials_title }}</h1>
  </div>
  <div class="materials-section-grid">
    {% for block in section.blocks %}
      <div class="materials-section__material" {{ block.shopify_attributes }}>
        <div class="material-image-title">
           <img src="{{ block.settings.material_image | image_url: width: 120 }}" alt="{{ block.settings.material_title }}" width="100" height="100">
           <h2 class="h2 heading">{{ block.settings.material_title }}</h2>
        </div>
        <div class="material-description">
          {{ block.settings.description }} 
        </div> 
      </div>
    {% endfor %}
  </div>
</div>
{{ 'section-materials.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "Materials",
  "settings": [
    {
      "id": "materials_title",
      "type": "text",
      "label": "Materials Title",
      "default": "Materials"
    }
  ],
  "blocks": [
    {
      "type": "material",
      "name": "Material",
      "settings": [
        {
          "id": "material_image",
          "type": "image_picker",
          "label": "Material Image"
        },
        {
          "id": "material_title",
          "type": "text",
          "label": "Material Title",
          "default": "Lycra"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Materials",
      "category": "Customs"
    }
  ]
}
{% endschema %}
