{%- assign title_font_size_class = section.settings.title_text_size | prepend: 'heading-size-' -%}
<div class="{{ section.settings.width }}">
  <div class="boutique-container {{ section.settings.height }}">
    <div class="boutique-image">
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="Boutique Image">
    </div>
    <div class="boutique-info">
      <h2 class="heading mb-r6 {{ title_font_size_class }}" style="color: {{ section.settings.title_color }};">
        {{ section.settings.title }}
      </h2>
      <div class="boutique-list">
        {% for block in section.blocks %}
          <div class="boutique-item">
            <h3 class="font-accent heading-size-5 mb-r2">{{ block.settings.title }}</h3>
            <p class="body-size-4">{{ block.settings.content }}</p>
            <p class="body-size-4">{{ block.settings.phone }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .boutique-container {
    padding-block: var(--outer);
    display: flex;
    /* max-width: 1200px; */
    margin: auto;
    align-items: stretch;
    justify-content: center;
    gap: var(--gutter);
  }

  .boutique-image {
    flex: 1;
    display: flex;
  }

  .boutique-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .boutique-info {
    flex: 1;
    border: 2px solid #000000;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
  }

  .boutique-title {
    font-family: 'Gambarino';
    font-weight: bold;
    color: #006a50;
  }

  .boutique-list {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
  }

  @media (max-width: 768px) {
    .boutique-container {
      flex-direction: column;
    }
    .boutique-image {
      height: auto;
    }
    .boutique-image img {
      width: 100%;
      height: auto;
    }
    .boutique-title {
      font-size: 40px;
    }
    .boutique-section {
      padding: 10px;
    }
    .boutique-address-name {
      font-weight: 100;
    }
  }
</style>

{% schema %}
{
  "name": "Our Boutiques",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Boutiques"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height" },
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height" },
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height" },
        { "value": "use_screen_one_half", "label": "One half of screen height" },
        { "value": "use_screen_one_third", "label": "One third of screen height" },
        { "value": "use_screen_one_fifth", "label": "One fifth of screen height" },
        { "value": "use_pixels_800", "label": "800px" },
        { "value": "use_pixels_650", "label": "650px" },
        { "value": "use_pixels_500", "label": "500px" },
        { "value": "use_image", "label": "Image height" }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" },
        { "value": "wrapper--tiny", "label": "Page width extra narrow" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "boutique",
      "name": "Boutique Location",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "The Mall At Wellington Green"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "10300 Forest Hill Blvd, Wellington, FL 33414"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone Number",
          "default": "877.756.7353"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Boutiques",
      "category": "Custom",
      "blocks": [{ "type": "boutique" }]
    }
  ]
}
{% endschema %}
