<section class="shop-by-color-section {{ section.settings.width }}">
  <div class="shop-by-color-section__inner">
    <div class="shop-by-color-header text-center mb-r6">
      <h1 class="heading heading-size-{{ section.settings.title_text_size }}">
        {{ section.settings.title }}
      </h1>
      <p class="font-body body-size-{{ section.settings.subtitle_text_size }}">
        {{ section.settings.subtitle }}
      </p>
    </div>
    <div class="shop-by-color-cards-container">
      {% for block in section.blocks %}
        <div class="shop-by-color-card" {{ block.shopify_attributes }}>
          <picture>
            <source srcset="{{ block.settings.card_image | image_url: width: 1000 }}" media="(min-width: 768px)">
            <source srcset="{{ block.settings.card_image | image_url: width: 500 }}" media="(min-width: 320px)">
            <img
              src="{{ block.settings.card_image | image_url: width: 500 }}"
              alt="Card Image"
              class="color-card-image"
            >
          </picture>
          <div class="color-card-color-swatch">
            {% if block.settings.swatch_color_image.src != blank %}
              <img
                src="{{ block.settings.swatch_color_image | image_url: width: 100 }}"
                alt="{{ block.settings.card_title }}"
                class="color-card-color-swatch__image"
              >
            {% else %}
              <div
                class="color-card-color-swatch__color"
                style="background-color: {{ block.settings.swatch_color }};"
              ></div>
            {% endif %}
          </div>
          <h2 class="heading-size-7 mb-r2">
            {{ block.settings.card_title }}
          </h2>
          <a
            href="{{ block.settings.button_link }}"
            class="color-card-button {{ section.settings.button_style }} {{ section.settings.button_color }} {{ section.settings.button_size }}"
          >
            {{- block.settings.button_label -}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<style>
  .shop-by-color-section {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
  .shop-by-color-section__inner {
    {% if section.settings.remove_top_padding %}
      padding-top: 0;
    {% endif %}
    @media screen and (max-width: 767px) {
      padding: 68px 0;
      {% if section.settings.remove_top_padding %}
        padding-top: 0;
      {% endif %}
    }
  }
  .shop-by-color-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--gutter);
    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .shop-by-color-card {
    border: 1px solid #102345;
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  img.color-card-image {
    width: 100%;
  }
  .color-card-color-swatch__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .color-card-button {
    width: max-content;
  }
</style>
{% schema %}
{
  "name": "Shop by color",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by colors"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcrafted by our expert designers."
    },
    {
      "type": "range",
      "id": "subtitle_text_size",
      "label": "Subtitle text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "checkbox",
      "id": "remove_top_padding",
      "label": "Remove top padding",
      "default": false
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background color",
      "default": "#102345"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#102345"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Size",
      "default": "btn--long",
      "options": [
        { "value": "btn--small", "label": "Small button" },
        { "value": "btn--medium", "label": "Medium button" },
        { "value": "btn--large", "label": "Large button" },
        { "value": "btn--long", "label": "Long button" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "btn",
      "options": [
        { "value": "btn-text-thick-line", "label": "Capitalized text" },
        { "value": "btn", "label": "Solid button" },
        { "value": "btn--soft", "label": "Soft button" },
        { "value": "btn--outline", "label": "Outlined button" }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "value": "btn--primary", "label": "Bright accent" },
        { "value": "btn--secondary", "label": "Secondary accent" },
        { "value": "btn--neutral", "label": "Text color" },
        { "value": "btn--black", "label": "Black" },
        { "value": "btn--white", "label": "White" }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Color Card",
      "type": "color_cart",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "header",
          "content": "Swatch Settings"
        },
        {
          "type": "image_picker",
          "id": "swatch_color_image",
          "label": "Swatch Color Image",
          "info": "Priority 1"
        },
        {
          "type": "color",
          "id": "swatch_color",
          "label": "Swatch Color",
          "default": "#006A50",
          "info": "Priority 2"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Academy green"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Explore"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop by color",
      "settings": {
        "title": "Shop by colors",
        "subtitle": "Handcrafted by our expert designers."
      }
    }
  ]
}
{% endschema %}
