<section class="shop-by-color-section {{ section.settings.width }}">
  <div class="shop-by-color-section__inner">
    <div class="shop-by-color-heade text-center">
      <h1 class="heading heading-xl">
        {{ section.settings.title }}
      </h1>
      <p class="font-body text-base">
        {{ section.settings.subtitle }}
      </p>
    </div>
    <div class="shop-by-color-cards-container">
      {% for block in section.blocks %}
        <div class="shop-by-color-card" {{ block.shopify_attributes }}>
          <picture>
            <source srcset="{{ block.settings.card_image | image_url: width: 1000 }}" media="(min-width: 768px)">
            <source srcset="{{ block.settings.card_image | image_url: width: 500 }}" media="(min-width: 320px)">
            <img
              src="{{ block.settings.card_image | image_url: width: 500 }}"
              alt="Card Image"
              class="color-card-image"
            >
          </picture>
          <div class="color-card-color-swatch">
            {% if block.settings.swatch_color_image.src != blank %}
              <img
                src="{{ block.settings.swatch_color_image | image_url: width: 100 }}"
                alt="{{ block.settings.card_title }}"
                class="color-card-color-swatch__image"
              >
            {% else %}
              <div
                class="color-card-color-swatch__color"
                style="background-color: {{ block.settings.swatch_color }};"
              ></div>
            {% endif %}
          </div>
          <h2 class="color-card-title heading">
            {{ block.settings.card_title }}
          </h2>
          <a href="{{ block.settings.button_link }}" class="btn btn--primary color-card-button">
            {{- block.settings.button_label -}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<style>
  .shop-by-color-section {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
  .shop-by-color-section__inner {
    padding: 120px 0;
    {% if section.settings.remove_top_padding %}
      padding-top: 0;
    {% endif %}
    @media screen and (max-width: 767px) {
      padding: 68px 0;
      {% if section.settings.remove_top_padding %}
        padding-top: 0;
      {% endif %}
    }
  }
  .shop-by-color-cards-container {
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .shop-by-color-card {
    border: 2px solid #102345;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  img.color-card-image {
    width: 100%;
  }
  .color-card-color-swatch__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  h2.color-card-title {
    color: #102345;
  }
  .color-card-button {
    border: 2px solid #102345;
    width: max-content;
  }
</style>
{% schema %}
{
  "name": "Shop by color",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by colors"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcrafted by our expert designers."
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "checkbox",
      "id": "remove_top_padding",
      "label": "Remove top padding",
      "default": false
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background color",
      "default": "#102345"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#102345"
    }
  ],
  "blocks": [
    {
      "name": "Color Card",
      "type": "color_cart",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "header",
          "content": "Swatch Settings"
        },
        {
          "type": "image_picker",
          "id": "swatch_color_image",
          "label": "Swatch Color Image",
          "info": "Priority 1"
        },
        {
          "type": "color",
          "id": "swatch_color",
          "label": "Swatch Color",
          "default": "#006A50",
          "info": "Priority 2"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Academy green"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Explore"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop by color",
      "settings": {
        "title": "Shop by colors",
        "subtitle": "Handcrafted by our expert designers."
      }
    }
  ]
}
{% endschema %}
