{% liquid
  assign title_text_size = section.settings.title_text_size
  assign title_text_color = section.settings.title_text_color
  assign subtitle = section.settings.subtitle
  assign sub_text_size = section.settings.sub_text_size
  assign sub_text_color = section.settings.sub_text_color
%}
<section class="tabs-collection {{ section.settings.width }}">
  <div class="tabs-collection__inner">
    <div class="tabs-collection__header text-center">
      <h2 class="heading heading-size-{{ title_text_size }}" style="color: {{ title_text_color }};">
        {{ section.settings.title }}
      </h2>
      <p class="body body-size-{{ sub_text_size }}" style="color: {{ sub_text_color }};">
        {{ section.settings.subtitle }}
      </p>
    </div>
    <div class="tabs-collection__tabs">
      {% for block in section.blocks %}
        <div
          class="tabs-collection__tab {% if forloop.first %}tabs-collection__tab--active{% endif %}"
          data-tab-control-id="{{ block.id }}"
        >
          <P class="tabs-collection__tab-title body body-size-6">{{ block.settings.title }}</P>
        </div>
      {% endfor %}
    </div>
    <div class="tabs-collection__content">
      {% for block in section.blocks %}
        <div
          class="tabs-collection__content-swiper-wrapper {% unless forloop.first %} hidden {% endunless %}"
          data-tab-content-id="{{ block.id }}"
        >
          <div
            class="tabs-collection__content-item tabs-collection__content-swiper-{{ forloop.index }}"
          >
            <div class="swiper-wrapper">
              {% for product in block.settings.collection.products limit: block.settings.product_limit %}
                <div
                  class="swiper-slide"
                >
                  {% render 'product-grid-item', product: product %}
                </div>
              {% else %}
                {% render 'onboarding-product-grid-item', limit: block.settings.product_limit, wrap: 'slide-item' %}
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-next swiper-button-next-{{ block.id }}"></div>
          <div class="swiper-button-prev swiper-button-prev-{{ block.id }}"></div>
          {% if block.settings.button_text != blank %}
            <div class="tabs-collection__button-wrapper">
              <a href="{{ block.settings.button_link }}" class="tabs-collection__button btn btn--outline">
                {{- block.settings.button_text -}}
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  :root {
    --swiper-navigation-size: 30px;
    --swiper-navigation-top-offset: 35%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #000000;
  }
  .tabs-collection__inner {
    padding: 30px 0;
    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }
  h2.tabs-collection__title {
    color: #000000;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 28px;
    text-transform: capitalize;
    @media (max-width: 768px) {
      font-size: 40px;
      margin-bottom: 16px;
    }
  }
  p.tabs-collection__subtitle {
    color: #000000;
    font-size: 20px;
    font-style: normal;
  }
  .tabs-collection__content-swiper-wrapper {
    position: relative;
    z-index: 1;
  }
  .tabs-collection__tabs {
    display: flex;
    gap: 12px;
    margin: 28px 0;
    flex-wrap: wrap;
  }
  .tabs-collection__tab {
    border: 1px solid #000000;
    padding: var(--space-4) var(--space-6);
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tabs-collection__content-item {
    overflow: hidden;
  }
  .tabs-collection__tab.tabs-collection__tab--active {
    background: #000000;
    color: #ffffff;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 37%) !important;
  }
  .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 10;
    left: -25px !important;
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
      left: -10px !important;
    }
  }
  .swiper-button-prev:hover {
    transform: scale(1.1);
  }

  .swiper-button-next {
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 10;
    right: -25px !important;
    transition: transform 0.3s ease-in-out;
    @media (max-width: 768px) {
      right: -10px !important;
    }
  }
  .swiper-button-next:hover {
    transform: scale(1.1);
  }
  .tabs-collection__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 52px;
  }
  .tabs-collection__button {
    border: 1px solid #000000;
    color: #000000;
    transition: all 0.1s ease-in-out;
  }
  .tabs-collection__button:hover {
    background: #000000;
    color: #e6dbc4;
    border: 1px solid #e6dbc4;
  }
</style>
<script>
   const tabControls = document.querySelectorAll('.tabs-collection__tab');
   const tabContents = document.querySelectorAll('.tabs-collection__content-swiper-wrapper');
   tabControls.forEach((control) => {
    control.addEventListener('click', () => {
      const tabId = control.dataset.tabControlId;
      tabContents.forEach((content) => {
        content.dataset.tabContentId === tabId ? content.classList.remove('hidden') : content.classList.add('hidden');
        content.style.opacity = '0';
        content.style.transition = 'opacity 0.3s ease-in';
        setTimeout(() => {
          content.style.opacity = '1';
        }, 300);
      });
      tabControls.forEach((control) => {
        control.classList.remove('tabs-collection__tab--active');
      });
      control.classList.add('tabs-collection__tab--active');
    });
   });
   document.addEventListener('DOMContentLoaded', () => {
   {% for block in section.blocks %}
    const swiper{{ forloop.index }} = new Swiper(".tabs-collection__content-swiper-{{ forloop.index }}", {
      slidesPerView: 1,
      spaceBetween: 10,
      breakpoints: {
        1024: {
          slidesPerView: 4,
        },
        768: {
          slidesPerView: 3,
        },
        480: {
          slidesPerView: 1,
        },
      },
      pagination: {
        el: ".swiper-pagination-{{ block.id }}",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next-{{ block.id }}",
        prevEl: ".swiper-button-prev-{{ block.id }}"
      },
    });
   {% endfor %}
  });
</script>

{% schema %}
{
  "name": "Tabs Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by function"
    },
    {
      "type": "range",
      "id": "title_text_size",
      "label": "Title text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "title_text_color",
      "label": "Title text color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Handcrafted by our expert designers."
    },
    {
      "type": "range",
      "id": "sub_text_size",
      "label": "Subtext size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 5
    },
    {
      "type": "color",
      "id": "sub_text_color",
      "label": "Subtext color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "grid_large",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Desktop",
      "default": 4
    },
    {
      "type": "range",
      "id": "grid_medium",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Tablet",
      "default": 3
    },
    {
      "type": "range",
      "id": "grid_mobile",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "label": "Mobile",
      "default": 1.2
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "number",
          "id": "product_limit",
          "label": "Product Limit",
          "default": 4
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs Collection"
    }
  ]
}
{% endschema %}
